.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.explore-menu h1 {
    color: #fbf4f4;
    font-weight: 700;
      font-size: 2rem;
    text-align: center; 
}

.explore-menu-text {
    max-width: 60%;
    columns: #f8f5f5;
    color: rgb(248, 240, 93);
    text-align: center; 
     margin: 0 auto;
}

.explore-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin: 40px 0; 
    background-color:   #90928c; 
    border-radius: 25px;
    padding: 40px 30px;
    width: 100%; 
    overflow-x: auto; 
    box-sizing: border-box;
    overflow-x: auto;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list-item img {
    width: 7.5 vw;
    min-width: 140px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.explore-menu-list-item p {
    margin-top: 10px;
    color: #f6f2f2;
    font-size: max(1.4vw, 16px);
    cursor: pointer;
}

.explore-menu hr {
    margin: 10px 0px;
    height: 2px;
    background-color: #e67676;
    border: none;
}

.explore-menu-list-item .active {
    border: 4px solid rgb(226, 159, 147);
    padding: 2px;
}

@media (max-width:1050px) {
    .explore-menu-text {
        max-width: 100%;
        font-size: 14px;
    }
}