@import "tailwindcss";

@layer base {
    body {
        @apply bg-gray-50 text-gray-900 duration-300;
    }

    html.dark body {
        @apply bg-gray-800 text-white;
    }
}

html,
body,
#root {
    height: 100%;
}